*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

/* ===== Common ======== */

a {
    text-decoration: none;
}

.desc {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
}

.heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.19; /* 119.048% */
    letter-spacing: -0.04em;
}

.btn {
    padding: 16px 37px;
    min-width: 170px;
    background: #5d3bee;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66667; /* 166.667% */
}

.btn:hover {
    opacity: 0.8;
}

/* ===== Header ======== */

.header {
    padding: 20px 135px 0;
    background: #fbfaff;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__mail {
    display: flex;
    align-items: center;
}

.header__mail-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgba(93, 59, 238, 0.2);
}

.header__mail-addr {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36364;
    text-decoration: underline;
}

.header__logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 357px;
}

.header__list {
    display: flex;
    align-items: center;
    column-gap: 43px;
}

.header__nav {
    margin-left: auto;
}

.header__nav-link {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
}

.header__nav-link:hover {
    text-decoration: underline;
}

/* ===== Hero ======== */

.hero {
    /* margin-top: 44px; */
    padding-top: 44px;
    position: relative;
    background: #fbfaff;
    /* z-index: -1; */
    z-index: 1;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__picture {
    width: 514px;
    height: 705px;
    /* z-index: 100; */
}

.hero__img {
    width: 100%;
    height: 705px;
    object-fit: cover;

    z-index: 100;
}

.hero__heading {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95; /* 95% */
    letter-spacing: -0.04em;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
}

.hero__cta {
    margin-top: 50px;
}

.hero__link {
    margin-left: 30px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66667; /* 166.667% */
}

.hero__link:hover {
    text-decoration: underline;
}

.hero__socials-list {
    margin-top: 104px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero__direction {
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.875; /* 187.5% */
}

.hero__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.1);
}

.hero__social:hover {
    cursor: pointer;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor--left {
    left: 0;
    bottom: 0;
}

.hero__decor--right {
    bottom: 0;
    right: 0;
}

/* ==== Clients ======= */
.clients {
    margin-top: 98px;
}

.clients__row {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.clients__heading {
    position: relative;
    font-size: 4.2rem;
    width: 253px;
    margin-left: 99px;
}

.clients__heading::before {
    position: absolute;
    top: 22px;
    left: -99px;
    content: "";
    width: 86px;
    height: 2px;
    background-color: #5d3bee;
}

.clients__company-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    row-gap: 34px;
    column-gap: 70px;
}

.clients__company-logo {
    display: flex;
    align-items: center;
    /* justify-self: center; */
    column-gap: 13px;
}

.clients__company-logo:nth-of-type(3) .clients__company-block {
    background-color: #fee101;
}

.clients__company-logo:nth-of-type(4) .clients__company-block {
    background-color: #f00;
}

.clients__company-logo:nth-of-type(5) .clients__company-block {
    background-color: #14a800;
}

.clients__company-logo:nth-of-type(7) .clients__company-block {
    background-color: #7f54b3;
}

.clients__company-block {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
}

.clients__company-brand {
    font-weight: 600;
}

/* === Specialties ===== */
.specialties {
    margin-top: 133px;
}

.specialties__heading,
.specialties__desc {
    text-align: center;
}

.specialties__desc {
    width: 534px;
    margin-top: 20px;
    margin: 0 auto;
}

.specialties__item-list {
    margin-top: 60px;
}

.specialties__item {
    padding: 33px 43px;
    background: #fbfaff;
}

.specialties__item:hover {
    /* margin-bottom: 5px;
    margin-left: 2px; */
    box-shadow: -10px 9px 24px 0px rgba(0, 0, 0, 0.1);
}

.specialties__icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.05);
}

.specialties__sub-heading {
    margin-top: 22px;
    font-weight: 500;
    font-size: 3.2rem;
}

.specialties__sub-desc {
    width: 285px;
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6667; /* 166.667% */
}

/* ==== Project ====== */
.project {
    padding: 86px 0;
    margin-top: 140px;
    background: #5d3bee;
}

.prorject__row-top {
    display: flex;
    align-items: center;
}

.project__heading {
    width: 468px;
    color: #fff;
    font-size: 5.6rem;
}

.project_desc {
    width: 370px;
    margin-left: 160px;
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    opacity: 0.7;
}

.project__list {
    margin-top: 70px;
}

.project__item {
    position: relative;
    padding: 24px 34px;
    /* width: 570px; */
    background: #fbfaff;
}

.project__item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__content {
    z-index: 1;
}

.project__sub-heading {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.04;
}

.project__sub-desc {
    margin-top: 10px;
    width: 220px;
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4375; /* 143.75% */
    margin-bottom: 20px;
}

.project__link {
    /* margin-top: 20px; */
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.6667; /* 166.667% */
}

.project__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.project__media {
    width: 246px;
    height: 187px;
    z-index: 1;
}

.project__media-img {
    width: 100%;
    height: 187px;
    object-fit: cover;
}

.project__decor {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.project__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.project__btn {
    background: #fff;
    color: #080415;
}

.project__item:hover {
    /* margin-bottom: 5px;
    margin-left: 2px; */
    cursor: pointer;
    box-shadow: -10px 9px 24px 0px rgba(0, 0, 0, 0.1);
}

/* === About ===== */
.about {
    padding: 140px 0 375px;
}

.about__inner {
    position: relative;
}

.about__greet {
    display: flex;
    align-items: center;
    column-gap: 9px;
    width: 208px;
    margin-left: auto;
    margin-right: auto;
}

.about__intro {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.04em;
}

.about__heading {
    margin-top: 10px;
    text-align: center;
    font-size: 5.6rem;
}

.about__desc {
    margin: 15px auto 0;
    width: 570px;
    text-align: center;
}

.about__stats {
    padding: 20px 0;
    margin: 70px auto 0;
    width: 946px;
    height: 146px;
    border-top: 1px solid rgba(8, 4, 21, 0.2);
    border-bottom: 1px solid rgba(8, 4, 21, 0.2);
}

.about__row {
    display: flex;
    /* align-self: center; */
    align-items: center;
    justify-content: space-evenly;
}

.about__number {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35714; /* 135.714% */
    letter-spacing: 0.03em;
    text-decoration: underline;
}

.about__feature {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6667; /* 166.667% */
}

.about__video {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -698px;
    /* top: 0; */
    z-index: 10;
}

.about__img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
}

.about__play-btn:hover {
    cursor: pointer;
}

.about__play-btn:active {
    opacity: 0.8;
}

.about__title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 170px;
    height: 62px;
    background: #fbfaff;
}

.about__title-text {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.6667; /* 166.667% */
    text-transform: uppercase;
}

/* ==== Feedback ===== */

.feedback {
    position: relative;
    padding: 473px 0 74px;
    background: #fbfaff;
}

.feedback__heading {
    text-align: center;
    font-size: 5.6rem;
}

.feedback__desc {
    margin: 15px auto 0;
    width: 570px;
    text-align: center;
}

.feedback__quote {
    width: 679px;
    height: 114px;
    margin: 60px auto 0;
    color: #51586a;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.6667; /* 166.667% */
}

.feedback__remarker {
    width: 163px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.feedback__remarker-block {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 39.833px;
    height: 39.833px;
    border-radius: 50%;
    background-color: #f29764;
    overflow: hidden;
}

.feedback__remarker-name {
    color: #080415;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.3; /* 133.333% */
}

.feedback__role {
    color: #51586a;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8125; /* 181.25% */
}

.feedback__next {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback__next:hover {
    cursor: pointer;
}

.feedback__decor {
    position: absolute;
}

.feedback__decor--left {
    left: 0;
    bottom: 0;
}

.feedback__decor--right {
    right: 0;
    bottom: 0;
}

/* === FAQ ==== */
.faq {
    padding: 95px 0 160px;
}

.faq__inner {
    width: 86.32%;
}

.faq__heading {
    width: 57%;
    line-height: 1.17857;
}

.faq__table-questions {
    margin-top: 80px;
}

.faq__item {
    display: flex;
    justify-content: space-between;
    padding-left: 22px;
    padding-bottom: 11px;
    border-bottom: 1px solid #08182f;
}

.faq__item:not(:nth-of-type(1)) {
    margin-top: 60px;
}

.faq__question {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.04em;
}

.faq__answer {
    display: none;
    margin-top: 23px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
    width: 487px;
}

.faq__item-btn {
    position: relative;
    margin-top: 12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-radius: 50px;
    border: 2px solid rgba(8, 4, 21, 0.2);
}

.faq__item-btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "+";
    width: auto;
    height: auto;
    font-size: 3.2rem;
}

.faq__item-btn:hover {
    cursor: pointer;
}

.faq__checkbox:checked ~ .faq__item-content .faq__question {
    color: #5d3bee;
}

.faq__checkbox:checked ~ .faq__item-content .faq__answer {
    display: block;
}

.faq__checkbox:checked ~ .faq__item-btn {
    margin-top: 35px;
    border-color: rgba(93, 59, 238, 0.2);
}

.faq__checkbox:checked ~ .faq__item-btn::before {
    content: "-";
    color: #5d3bee;
}

.faq__item:has(.faq__checkbox:checked) {
    border-bottom-color: #5d3bee;
    padding-bottom: 21px;
}

/* ==== environment ====== */

.environment__heading {
    text-align: center;
}

.environment__desc {
    width: 528px;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.environment__email {
    margin-top: 30px;
    text-align: center;
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.04em;
    text-decoration: underline;
}

.environment__list {
    margin-top: 70px;
}

.environment__list {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* ===== Banner ======= */
.banner {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.banner__inner {
    position: relative;
    width: 83.125%;
    padding: 68px 0;
    background: #fbfaff;
    z-index: 0;
}

.banner__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__heading {
    margin-top: 24px;
    text-align: center;
}

.banner__desc {
    width: 528px;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.banner__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.banner__btn {
    margin-top: 32px;
}

.banner__decor {
    position: absolute;
    z-index: -1;
}

.banner__decor--left {
    left: 0;
    bottom: 0;
}

.banner__decor--mid {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner__decor--right {
    top: 0;
    right: 0;
}

/* ==== Footer ==== */

.footer {
    margin-top: 50px;
    padding-bottom: 30px;
}

.footer__inner {
    width: 89.3125%;
    margin: 0 auto;
}

.footer__top {
    width: 93.07%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer__separate {
    margin-top: 32px;
    height: 1px;
    background-color: rgba(93, 59, 238, 0.2);
}

.footer__bot {
    margin: 18px 147px 0 129px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #525771;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
}

.footer__policy {
    display: flex;
    align-items: center;
}

.footer__policy-separate {
    margin-left: 23px;
    margin-right: 8px;
}
